#categories {
    width: 500px;
    overflow: hidden; 
}
.category {
    float:left;
    margin-right: 10px;
}
#menu, .link {
	list-style-type: none;
}
.link{
	padding: 10px;
}
.item{
	white-space: nowrap;
}



