<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>All comments</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div>
		<a href="/comment/add">Add new</a>
	</div>
	<table>
		<tr>
			<th>Comment</th>
			<th>Product</th>
			<th>User</th>
			<th colspan="2">Options</th>
		</tr>
		<tr th:each="comment : ${comments}">
			<td th:text="${comment.content}" />
			<td th:text="${comment.product.name}" />
			<td th:text="${comment.user.username}" />
			<td><a th:href="@{/comment/edit/(id=${comment.id})}">Edit</a></td>
			<td><a class="delete"
				th:href="@{/comment/delete/(id=${comment.id})}">Delete</a></td>
		</tr>
	</table>
</body>

</html>