<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add user</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<form method="post" th:object="${user}">
		<div>
			<label for="username">Username</label> <input type="text"
				th:field="*{username}" />
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
		</div>
		<div>
			<label for="email">Email</label> <input type="email"
				th:field="*{email}" />
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
		</div>
		<div>
			<label for="password">Password</label> <input type="password"
				th:field="*{password}" />
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
		</div>
		<div>
			<input type="radio" id="isEnabled" name="isEnabled" value="true" />
			<label for="isEnabled">Enable</label>
		</div>
		<div>
			<input type="radio" id="isDisabled" name="isEnabled" value="false" />
			<label for="isDisabled">Disable</label>
		</div>
		<input type="submit" value="Add" />
	</form>
</body>
</html>