<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add comment</title>
</head>
<body>
	<div th:replace="shop/header :: header"></div>
	<form method="post" th:object="${comment}">
		<label for="content">Comment</label> <input type="text"
			th:field="*{content}" /> <label for="evaluation">Evaluation</label> <input
			type="number" th:field="*{evaluation}" min="0" max="5" /> <select
			name="user" hidden="hidden">
			<option th:field="*{user}" th:value="${userId}" />
		</select> <select name="product" hidden="hidden">
			<option th:field="*{product}" th:value="${productId}" />
		</select> <input type="submit" />
	</form>
</body>
</html>