<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>MediaShop</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/category.css" th:href="@{/css/category.css}" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			$(document).ready(function() {
				$.ajax({
					type : 'get',
					url : "/shopuser/login",
					dataType : "html",
					success : function(data) {
						$("#login").html(data);
					},
					error : function() {
					}
				});
			});
		});
	</script>
	<div th:replace="shop/headerShop :: headerShop"></div>
	<div th:replace="shop/headerCategory :: headerCategory"></div>
	<h3>Products</h3>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th colspan="2">Opinion</th>
			<th colspan="2">More</th>
		</tr>
		<tr th:each="product : ${products}">
			<td><a th:href="@{/shopuser/find/(id=${product.id})}"
				th:text="${product.name}"></a></td>
			<td>
				<ul>
					<li th:each="desc : ${product.description}" th:text="${desc}" />
				</ul>
			</td>
			<td th:text="${product.evaluation}" />
			<td><a th:href="@{/shopuser/comment/(id=${product.id})}">Comments</a></td>
			<td th:text="${product.price}" />
			<td>
				<form th:action="@{/shopuser/addtocart}" method="post"
					th:object="${productModel}">
					<input type="text" th:value="${product.id}" name="id"
						hidden="hidden" /> <input type="text" th:value="${product.price}"
						name="price" hidden="hidden" /> <input type="text"
						th:value="${product.name}" name="name" hidden="hidden" /> <input
						type="number" th:value="${product.amount}" name="amount"
						hidden="hidden" /> <input type="number" th:field="*{quantity}"
						min="1" th:max="${product.amount}" /> <input type="submit"
						value="Add to cart" />
				</form>
			</td>
		</tr>
	</table>
</body>
</html>